<!DOCTYPE html>
<html>
<head>

	<title>Sign Up</title>

	<link rel="stylesheet" type="text/css" href="/css/index.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="container">
		<fieldset>
			<h1>Sign Up</h1>
			<form action='/' method='post' id="accountCreation">
				<h2>Username</h2><input type='text' class = "ghost-input" placeholder='Username' name="username"> <br>
				<h2>Password</h2><input class = "ghost-input" type='text' placeholder='Password' name="password">
				<input type='submit' class="ghost-button" value='Create Account'>
			</form>
		</fieldset>
	</div>
</body>
</html>
